body{
  background-image: url(https://cdn.discordapp.com/attachments/852192800426557464/852577092402937916/pirate-treasure-map-picture-id611868178.png);
  background-position: auto;
  background-size: 100%;
  backface-visibility: visible;

}
